.signUp {
  background-color: rgba(209, 231, 251, 1);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  padding: 100px 80px;
}

@media (max-width: 991px) {
  .signUp {
    padding: 0 20px;
  }
}

.container {
  display: flex;
  margin-left: 13px;
  width: 430px;
  max-width: 100%;
  flex-direction: column;
}

.title {
  color: var(--Text-Default-Secondary, #757575);
  text-align: center;
  letter-spacing: var(--Display-Large-Tracking, -0.25px);
  align-self: center;
  font: 400 var(--Display-Large-Size, 57px) / var(--Display-Large-Line-Height, 34px) var(--Display-Large-Font, Roboto);
  margin-top: 30px
  
}

@media (max-width: 991px) {
  .title {
    font-size: 40px;
  }
}

.formWrapper {
  border-radius: 8px;
  background-color: #fff;
  display: flex;
  min-width: 320px;
  margin-top: 10px;
  min-height: 698px;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  padding: 0 24px 24px;
  font: var(--sds-typography-body-font-weight-regular) var(--sds-typography-body-size-medium) var(--sds-typography-body-font-family);
  border: 1px solid #d9d9d9;
}

@media (max-width: 991px) {
  .formWrapper {
    max-width: 100%;
    margin-top: 40px;
    padding: 0 20px;
  }
}

.inputField {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: start;
  margin-top: 24px;
}

.inputField:first-child {
  margin-top: 0;
}

.label {
  color: var(--sds-color-text-default-default);
  line-height: 1.4;
}

.input {
  align-self: stretch;
  flex: 1;
  border-radius: 8px;
  background-color: #fff;
  min-width: 220px;
  margin-top: 8px;
  width: 90%;
  overflow: hidden;
  color: var(--sds-color-text-default-tertiary);
  line-height: 1;
  padding: 12px 16px;
  border: 1px solid #d9d9d9;
}

.submitButton {
  align-self: stretch; 
  border-radius: 8px;
  background-color: #6b9acf;
  min-width: 80px; 
  width: auto; 
  overflow: hidden;
  flex: none; 
  margin: 20px 0 0; 
  padding: 8px; 
  border: 1px solid #050505;
  color: var(--sds-color-text-brand-on-brand);
  cursor: pointer;
}


.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.logo {
  width: 100%; 
  max-width: 190px; 
  height: auto; 
  margin: 0 auto 20px; 
  display: block; 
}

/* Sign up input fields start here*/

.inputContainer {
  display: flex;
  width: 100%;
  flex-direction: column;
  white-space: nowrap;
  justify-content: start;
}

@media (max-width: 991px) {
  .inputContainer {
    max-width: 100%;
    white-space: initial;
  }
}

.label {
  color: var(--sds-color-text-default-default);
  line-height: 1.4;
}

@media (max-width: 991px) {
  .label {
    max-width: 100%;
  }
}

.input {
  align-self: stretch;
  flex: 1;
  border-radius: 8px;
  background-color: #fff;
  min-width: 240px;
  margin-top: 8px;
  width: 90%;
  overflow: hidden;
  color: #050505;
  line-height: 1;
  padding: 12px 16px;
  border: 1px solid #d9d9d9;
}

@media (max-width: 991px) {
  .input {
    max-width: 100%;
    white-space: initial;
  }
}